* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff3d2;
  color: blue;
}
#page {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
h1 {
  color: peru;
  margin: 20px;
}

#down {
  color: green;
  margin: 20px;
}

ul {
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
}

header {
  width: 100vw;
  height: 5vh;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  float: right;
}
nav li {
  float: left;
  margin: 20px;
}
