*,
::before,
*::after {
  /* any element before the star, and any elemnet after this element
*,
::before,
*::after */

  /* the margin cero is in the case abother user have settings
  and you dont want it to destroy your design */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Borderbox will adapt the extra size of padding to the 100 
  i put in the width */
}

body {
  height: 100%;
  overflow-x: hidden;
  background-color: #fff;
}

/* header {
  transform: rotate(90deg); /*50% is for top or bottom*/

/* position: fixed;
  bottom: 50%;
  left: 2%;
}  */
/*
p {
  color: aliceblue;
}

 a:link {
  color: blue;
}

a:visited {
  color: #282828;
}

a:hover {
  transition: 3s;
  background-color: violet;
} */

/* ------------header------------------- */
header {
  width: 100vw;
  max-height: 10vh;
  padding: 10px;
  background-color: #f3f3f3;
  transition: 0.6s;
}
header:hover {
  width: 100vw;
  max-height: 15vh;
  padding: 15px;
  background-color: white;
  transition: 0.6s;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0 10px 0 10px;
  float: left;
  color: black;
}
nav a {
  color: black;
  font-size: 0.8em;
  transition: 0.6s;
  font-family: "Rajdhani-SemiBold";
  text-decoration: none;
}

nav a:hover {
  color: #666;
}

.logo {
  color: black;
  font-family: "Raleway-Thin", sans-serif;

  font-weight: 600;
}
/* ------------section------------------- */

.hero-image {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../img/ClaudiaAndujar-metalmagazine-5.jpg);
  background-size: cover;

  background-position: center;
  transition: 5s ease;
}
.hero-image:hover {
  background-image: url(../img/Claudia2Andujar-metalmagazine-23.jpg);
  background-size: cover;

  background-position: bottom;
  transition: 5s ease-in-out;
}
.hero-image h1 {
  font-family: "BungeeHairline";
  font-size: 3em;
  color: #000;
  transition: 5s ease-in-out;
}
.hero-image h1:hover {
  font-family: "BungeeHairline";
  font-size: 5em;
  color: fuchsia;
  transform: rotate(360deg);
  transition: 5s ease-in-out;
}
